@charset "utf-8";

/*
Creator: James Shaw
Date:6/11/19
CIS155
V4
This page is a barebones version of an album review site
*/


/*Layout*/

html {
	background: url(background.png) center center/ 100% 100% fixed;
	font-size: 100%;
	padding: 0%;
	margin: 0%;
	height: 100%
}

body {
	border: 4px solid white;
	font-family: verdana;
	margin: 0px auto;
	max-width: 960px;
	min-width: 640px;
	width: 95%;
	min-height: 100%;
}

body>p {
	font-family: 'Courier New', Courier, monospace;
}

header {
	text-align: right;
	padding: 5px 0px 0px 0px;
	font-size: 1.2em;
}

a[href] {
	color: white;
}

article {
	box-shadow: 2px 0px 9px 5px black;
	border: 4px solid white;
	background-color: gold;
	background-image: linear-gradient(gold, silver, gold);
}

article>p {
	border-radius: 15px;
}


/*Table Styles*/

table.albumreviews {
	background: brown;
	border-collapse: collapse;
	width: 100%;
}

table.albumreviews th,
table.albumreviews td {
	border: 5px solid black;
	text-align: center;
	color: gold;
}


/*Nav styles*/

header a {
	border: 3px outset silver;
	background-color: grey;
	background-image: linear-gradient(grey, silver, grey);
}

nav.horizontal>ul>li {
	position: relative;
	display: block;
	width: 15.49%;
	float: right;
}

nav.horizontal>ul>li#requestlink {
	padding: 0px 30px 0px 0px;
}

nav a:link {
	color: gold;
	text-decoration: none;
	padding: 10px 40px 10px 40px;
}

nav a:link,
nav a:visited {
	color: red;
	color: hsl(60, 100%, 50%);
}

nav a:hover,
nav a:active {
	color: pink;
	background-color: white;
}


/*Section Stuff*/

ul#mainsearch {
	background-image: linear-gradient(white, silver);
	box-shadow: 2px 0px 9px 5px black;
	display: block;
	float: left;
	width: 97%;
	background-color: grey;
	padding: 10px;
	border: 4px outset silver;
}

ul#mainsearch>li {
	float: left;
	padding: 0px 20px 0px 20px;
	color: gold;
	display: inline;
	border: 4px outset blue;
	background-color: black;
}

ul#mainsearch>li:hover {
	color: gold;
	border: 4px outset teal;
	background-color: silver;
}

ul#mainsearch>li#expand:hover {
	float: left;
	color: gold;
	border: 4px outset teal;
	background-color: silver;
	padding: 15px 40px 15px 40px;
}

ul#mainsearch>li#expand:hover::after {
	clear: both;
	content: "";
	display: table;
}


/*Sublist*/

ul.subsearch {
	display: none;
}

a.subsearchtitle:hover+ul.subsearch,
ul.subsearch:hover {
	display: block;
}


/*Sections*/

section.page img {
	display: block;
	position: absolute;
	width: 10%;
	right: 0px;
	bottom: 0px;
	border: 2px outset white;
	-webkit-filter: opacity(0.3);
	-moz-webkit-filter: opacity(0.3);
	filter: opacity(0.3);
}

#about1 {
	color: white;
}

#about1 p {
	background-color: grey;
}

#about2 h1 {
	border: 4px outset silver;
	background-image: linear-gradient(white, silver);
}

#about2 p {
	font-family: 'Courier New', Courier, monospace;
	background-image: linear-gradient(silver, gold, silver);
	border: 4px outset brown;
}

#about3 h1 {
	border: 4px outset silver;
	background-image: linear-gradient(white, silver);
}

#about3 p {
	font-family: 'Courier New', Courier, monospace;
	background-image: linear-gradient(black, brown, black);
	border: 4px outset brown;
	color: white;
}
#about4 p {
	font-family: 'Courier New', Courier, monospace;
	background-image: linear-gradient(black, brown, black);
	border: 4px outset brown;
	color: white;
}


/*Footer*/

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	float: left;
}

section.FTLinks {
	display: block;
	width: 21%;
	float: left;
	clear: both;
	border: 3px outset silver;
	font-size: 100%;
	text-align: left;
	background-color: grey;
}

section.FTLinks p {
	color: gold;
	text-decoration: none;
}

section.FTLinks a {
	text-decoration: none;
}

section img {
	width: 20%;
}

#Archive img {
	transform: rotate(180deg);
}


/*Mobile Styles*/

@media only screen and (max-width: 480px) {
	body {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	header {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	nav.horizontal>ul>li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-basis: 5px;
		flex-grow: 2;
	}
	ul#mainsearch {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	footer {
		display: none;
	}
}


/*Submission Page*/

article#subbox {
	background: brown;
}


/*M7LO11 Demonstrate how to format a form with CSS (group your form styles together in your CSS file, and document their overall impact on the form)
	I had to look at a lot of examples to figure this out, but if you put all of your forms and such in a flex box, it fixes the issue of everything looking like tetris pieces on the page*/

div#spacer {
	padding: 30px;
}

div#spacer>h1 {
	color: gold;
	border: 5px solid black;
	text-align: center;
}

form#box {
	display: flex;
	flex-direction: column;
	padding: 0px 250px 0px 0px;
	border: 5px solid black;
}

form#box>label {
	color: gold;
}

div#submit {
	padding: 15px 0px 15px 0px;
}


/*Review Page*/

article#reviewpage {
	background: brown;
}

article#reviewpage>p {
	color: gold;
	border: 5px solid black;
	border-radius: 0px;
	padding: 0px 7px 0px 7px;
}

audio {
	/*M8LO12 Demonstrate how to format media with CSS (CSS, group your media styles together and describe their overall impact on the media feature of your page)
		It may not seem like much, but this keeps the audio media player containted to a reasonable size without losing the functionality of the progress bar*/
	width: 300px;
	padding: 5px;
	padding: 15px 0px 15px 3px;
	background: green;
	color: purple;
	transition: background 6s;
	/*M8LO10 Demonstrate a CSS animation or transition (CSS, identify which is being done and its impact on the rendered HTML; note it has to include a time aspect, not be immediate)
		I wish I could have figured out how to get the colors to loop, but this changes the starting background color to another over 6 seconds of loading the page.*/
}